$black: #000;
$white: #fff;
$dark-blue: #1a3667;
$red: #e4002b;
$btn-red: #d92228;
$btn-hover-red: #b81d22;
$primary-blue: #077dc1;
$bg-gray: #f2f2f2;
$bg-listings: #f6f5f7;
$text-gray: #999;
$text-secondary: #726e75;
$bg-selected: #3d3b40;
$fb: #1877f2;
$social-border: #c4c4c4;
