.login {
  .wrapper {
    position: relative;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0.0625rem 0.25rem 0px;
    border-radius: 0.75rem;
    overflow-y: auto;
    min-height: 100vh;

    @media (min-width: 600px) {
      width: 500px;
      margin: 1rem auto;
    }

    .brand {
      width: 40%;
      margin: auto;
    }

    .component {
      font-size: 1.5rem;
      font-weight: 600;
      margin: 1rem auto;
    }

    .providers {
      & > div {
        width: 80%;
        margin: 0px auto 1rem;
        border-radius: 0.5rem;

        & > div {
          display: flex;
          align-items: center;
          cursor: pointer;
          padding: 0.75rem 1.5rem;

          p {
            flex: 1;
          }
        }

        & > span {
          vertical-align: middle;
        }
      }

      .google {
        border: 1px solid $social-border;

        &:hover {
          background-color: rgba($color: $social-border, $alpha: 0.2);
        }
      }

      .facebook {
        color: white;
        background-color: rgba($color: $fb, $alpha: 0.9);

        &:hover {
          background-color: rgba($color: $fb, $alpha: 1);
        }
      }
    }

    .signup {
      & > div {
        width: 80%;
        margin: auto;
        display: flex;
        justify-content: center;

        span {
          margin-right: 1rem;
        }
      }
    }
  }
}
