.listing {
  background-color: $white;

  &__container {
    border-radius: 0.75rem;
    border: 1px solid $primary-blue;
    width: max-content;
  }

  &__agent {
  }

  &__details {
    padding: 0.5rem;

    &-price {
      font-size: large;
      font-weight: 600;
    }

    &-additional {
      span {
        margin: 0 10px 0 0;
        vertical-align: middle;
      }

      svg {
        font-size: large;
        margin-right: 3px;
      }
    }
  }
}
