.listing {
  background-color: $white;
  border-radius: 0.75rem;
  width: max-content;

  &__container {
    // border: 1px solid $primary-blue;
  }

  &__agent {
  }

  &__details {
    padding: 0.5rem;

    &-price {
      font-size: large;
      font-weight: 600;
    }

    &-title {
      padding: 0.5rem 0;
    }

    &-additional {
      span {
        margin: 0 10px 0 0;
        vertical-align: middle;
      }

      svg {
        font-size: large;
        margin-right: 3px;
      }
    }
  }
}
