@import '../image-gallery.scss';

.container {
  width: 1140px;
  margin: 0 auto;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  // margin: 0 2rem;

  .pswp-gallery {
    width: 100%;
  }

  img {
    width: 100px;
  }

  .pswp-docs__home-gallery {
    grid-gap: 7px;
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr;
    position: relative;
    width: 100%;
  }

  .pswp-docs__home-gallery {
    .pswp-docs__home-gallery-item:first-child {
      grid-row: span 2;
    }
    .pswp-docs__home-gallery-item {
      position: relative;

      a {
        display: block;
        height: 100%;
        overflow: hidden;
        padding-bottom: 100%;
        position: relative;
        width: 100%;
      }

      img {
        height: 100%;
        left: 0;
        object-fit: cover;
        position: absolute;
        top: 0;
        width: 100%;
      }

      figcaption,
      .theme-code-block--hidden {
        display: none;
      }
    }
  }

  figure {
    .pswp-docs__home-gallery-item {
      display: block;
      margin: 0;
      padding: 0;
    }
  }
}

.detail {
  .wrapper {
    width: 990px;
    margin: auto;
    display: flex;

    @media (max-width: 990px) {
      display: block;
      width: 100%;
    }
  }

  .img {
    width: 80%;
    margin: auto;

    & > span {
      width: 100%;
    }
  }

  .listing-content {
    .main-content {
      width: 660px;
      border: 1px solid $dark-blue;

      & > div {
        margin: 1rem 0;
      }

      .price {
        font-size: 40px;
      }

      .meta {
        font-size: 24px;
        display: flex;

        & > div {
          margin-right: 2rem;

          & > span {
            margin-left: 0.35rem;
          }
        }
      }

      .amenities {
        width: 100%;

        .wrapper {
          display: flex;
          flex-wrap: wrap;
          width: 90%;
          margin: 1rem auto;
        }

        h3 {
          width: 100%;
        }

        .amenity {
          width: 50%;
          display: flex;
          align-items: center;
          margin: 1% 0;

          svg {
            font-size: 20px;
            margin-right: 0.5rem;
          }

          span {
            font-size: 18px;
          }
        }
      }

      @media (max-width: 990px) {
        width: 80%;
        margin: auto;
      }

      @media (max-width: 480px) {
        width: 97%;
      }
    }

    .agent-section {
      max-width: 300px;
      border: 1px solid $dark-blue;
      width: 300px;
    }
  }
}
