.listing {
  background-color: $white;

  &__container {
    border-radius: 0.75rem;
    border: 1px solid $primary-blue;
    width: max-content;
  }

  &__agent {
  }

  &__details {
    &-price {
      font-size: large;
      font-weight: 600;
      padding: 0.5rem;
    }
  }
}
