.showcase {
  width: 100%;
  margin: auto;

  .hero {
    position: relative;

    .cover {
      position: absolute;
    }

    .search-container {
      position: absolute;
      width: 100%;
      text-align: center;
    }
  }
}
