.showcase {
  width: 100%;
  margin: auto;

  .hero {
    position: relative;
    //
    height: 80vh;
    min-height: 80vh;
    background: url('../../public/home.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    .search-container {
      height: inherit;
      width: 100%;
      text-align: center;

      .search-bar {
        position: relative;
      }
    }
  }
}
